<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/test_2.css">
</head>
<body>
    <div class="container">
        <div class="search-box">
            <span class="search-icon">
                <img src="../../icons/search.svg" alt="">
            </span>
            <p>Search something</p>
        </div>
        <div class="profile" role="button">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJT5o2GDBDxMJxtnHQ2MegntteDmvdGxatD8gM--ilFst-jYO_ojPj2XxqkQ0PlTk5hQQ&usqp=CAU" alt="">
        </div>
        <div id="arrow-down">
            <img src="../../icons/arrow-down.svg" alt="">
        </div>
    </div>
    
</body>
</html>